@import url(font/opensans.css);

/* ---------------------------------------------- /*
 *  GENERAL STYLES
/* ---------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, iframe, fieldset, legend, label, button, input, textarea, th, td, figure {
    margin: 0;
    padding: 0
}
h1, h2, h3, h4, h5, strong, b, i {
    font-weight: normal;
    font-style: normal;
}
a, a:hover, a:active {
    text-decoration: none !important;
}
ul, ol {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
input, button, select, textarea {
    outline: none
}
textarea {
    resize: none
}
button {
    background: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
body {
    font: normal 12px/1.5 'Open Sans', '微软雅黑', sans-serif;
}

/* ---------------------------------------------- /*
 *  Header
/* ---------------------------------------------- */
header {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed {
    background: #fff;
    height: 83px;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
header .inner {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
}
header h1 {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 121px;
    height: 63px;
    margin-top: -31px;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed h1 {
    width: 96px;
    height: 50px;
    margin-top: -25px;
}
header h1 a, header .inner h1 a img {
    display: block;
    width: 100%;
    height: 100%;
}
header .menu-button {
    display: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0;
    top: 0;
    z-index: 100;
}
header .menu-button i {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 20px;
    margin-top: -1px;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .menu-button i:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: -8px;
    left: 0;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .menu-button i:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: -8px;
    left: 0;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .menu-button i, 
header.fixed .menu-button i:before, 
header.fixed .menu-button i:after {
    background: #62e2b0;
}
header .main-menu {
    font-size: 0;
    line-height: 0;
    text-align: right;
    z-index: 500;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .main-menu.show {
    visibility: visible;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
header .main-menu .logo {
    display: none;
}
header .main-menu ul {
    margin: 0;
    padding: 0;
}
header .main-menu li {
    display: inline-block;
    position: relative;
    height: 103px;
    margin: 0 0 0 20px;
    padding: 30px 0;
    vertical-align: top;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li {
    height: 83px;
    padding: 20px 0;
    vertical-align: top;
}
header .main-menu li > a {
    display: inline-block;
    position: relative;
    height: 45px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    line-height: 43px;
    border: 1px solid transparent;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li > a {
    color: #bfbfbf;
}
header .main-menu li > a:hover {
    border: 1px solid #fff;
}
header.fixed .main-menu li > a:hover {
    border: 1px solid #bfbfbf;
}
header .main-menu li.share > a {
    width: 54px;
    height: 45px;
}
header .main-menu li.share > a, header .main-menu li.share > a:hover {
    border: none;
}
header .main-menu li.share > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 22px;
    top: 12px;
    left: 13px;
    background-image: url(img/share.png);
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 30;
}
header .main-menu li.share:hover > a:after {
    background-image: url(img/share-green.png);
}
header .main-menu li.share:hover > a {
    background: #fff;
}
header.fixed .main-menu li.share:hover > a {
    background: #6f6f6f;
}
header.fixed .main-menu li.share > a:after {
    background-image: url(img/share-grey.png);
}
header.fixed .main-menu li.share:hover > a:after {
    background-image: url(img/share.png);
}
header .main-menu li.share .bdsharebuttonbox {
    display: block;
    position: absolute;
    width: 54px;
    left: 0;
    top: 84px;
    opacity: 0;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li.share .bdsharebuttonbox {
	top: 73px;
}
header .main-menu li.share:hover .bdsharebuttonbox {
    opacity: 1;
}
header .main-menu li.share .bdsharebuttonbox a {
    display: block;
    float: none;
    margin: 0 auto 20px auto;
    padding: 0;
    background-size: cover;
    background-position: 0 0;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
header .main-menu li.share .bdsharebuttonbox a.bds_fbook,
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_fbook:hover {
    width: 12px;
    height: 25px;
    background-image: url(img/facebook-green.png);
}
.index header .main-menu li.share .bdsharebuttonbox a.bds_fbook {
    width: 12px;
    height: 25px;
    background-image: url(img/facebook-white.png);
}
header .main-menu li.share .bdsharebuttonbox a.bds_fbook:hover,
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_fbook {
    background-image: url(img/facebook-grey.png);
}
header .main-menu li.share .bdsharebuttonbox a.bds_twi, 
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_twi:hover {
    width: 25px;
    height: 21px;
    background-image: url(img/twitter-green.png);
}
.index header .main-menu li.share .bdsharebuttonbox a.bds_twi {
    width: 25px;
    height: 21px;
    background-image: url(img/twitter-white.png);
}
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_twi,
header .main-menu li.share .bdsharebuttonbox a.bds_twi:hover {
    background-image: url(img/twitter-grey.png);
}
header .main-menu li.share .bdsharebuttonbox a.bds_linkedin, 
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_linkedin:hover {
    width: 20px;
    height: 20px;
    background-image: url(img/linkedin-green.png);
}
.index header .main-menu li.share .bdsharebuttonbox a.bds_linkedin {
    width: 20px;
    height: 20px;
    background-image: url(img/linkedin-white.png);
}
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_linkedin, 
header .main-menu li.share .bdsharebuttonbox a.bds_linkedin:hover {
    background-image: url(img/linkedin-grey.png);
}
header .main-menu li.share .bdsharebuttonbox a.bds_tsina, 
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_tsina:hover {
    width: 28px;
    height: 22px;
    background-image: url(img/weibo-green.png);
}
header.fixed .main-menu li.share .bdsharebuttonbox a.bds_tsina, 
header .main-menu li.share .bdsharebuttonbox a.bds_tsina:hover {
    background-image: url(img/weibo-grey.png);
}
.header-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.7);
    z-index: 150;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.header-mask.show {
    opacity: 1;
    visibility: visible;
}
header .share-box {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 0;
    background: rgba(98,226,176,0.9);
    z-index: 600;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .share-box.show {
    visibility: visible;
    opacity: 1;
}
header .share-box .close {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
    z-index: 200;
    opacity: 1;
}
header .share-box .close:before {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 1px;
    left: -10px;
    top: 22px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .share-box .close:after {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 1px;
    left: -10px;
    bottom: 22px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
header .share-box .inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 190px;
    left: 0;
    top: 50%;
    margin-top: -95px;
    text-align: center;
}
header .share-box h4 {
    margin-bottom: 65px;
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: 600;
}
header .share-box .bdsharebuttonbox {
    display: block;
    position: static;
    float: none;
    width: 100%;
    font-size: 0;
}
header .share-box .bdsharebuttonbox a {
    display: inline-block;
    position: relative;
    float: none;
    width: 33.333333333%;
    height: 50px;
    margin: 0 0 50px 0;
    padding: 0;
    background: none;
}
header .share-box .bdsharebuttonbox a:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background-size: 50px 50px;
}
header .share-box .bdsharebuttonbox a.bds_fbook:after {
    background-image: url(img/facebook.png);
}
header .share-box .bdsharebuttonbox a.bds_twi:after {
    background-image: url(img/twitter.png);
}
header .share-box .bdsharebuttonbox a.bds_linkedin:after {
    margin-bottom: 0;
    background-image: url(img/linkedin.png);
}
header .share-box .bdsharebuttonbox a.bds_tsina:after {
    margin-bottom: 0;
    background-image: url(img/weibo.png);
}

/* ---------------------------------------------- /*
 *  News Detail
/* ---------------------------------------------- */
.content {
    padding: 203px 12px 120px 12px;
    background: #fff;
}
.content-title {
    max-width: 1024px;
    margin: 0 auto 40px auto;
}
.content-title div {
    margin: 0;
    padding: 0;
}
.content-title .pic {
    vertical-align: top;
}
.content-title .pic img {
    display: block;
    width: 93px;
    height: 93px;
}
.content-title h2 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 45px;
    font-weight: 600;
}
.content-title time {
    display: block;
    font-size: 24px;
    line-height: 48px;
    font-weight: 200;
}
.cmsPage {
    max-width: 1024px;
    margin: 0 auto;
}
.cmsPage .cmsMainBox, .cmsPage .cmsMainBoxCon {
    margin: 0;
    padding: 0;
}
.cmsMainBox p {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
    font-weight: 200;
}
.cmsMainBox img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
    padding: 0;
}
.cmsMainBox a {
    color: #707070;
    font-weight: 200;
    text-decoration: underline;
}
.cmsMainBox .youku {
    display: block;
    margin: 0 auto 24px auto !important;
}


/* ---------------------------------------------- /*
 *  Index
/* ---------------------------------------------- */
.index header {
    background: transparent;
}
.index header.fixed {
    background: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.index .content {
    position: relative;
    z-index: 100;
    padding: 0;
}
.index footer {
    position: relative;
    z-index: 110;
}
.chapter {
    overflow: hidden;
}
.chapter h3 {
    font-size: 45px;
    color: #000;
    font-weight: 600;
}
.chapter .inner {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.chapter p, .chapter li {
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
    color: rgb(112, 112, 112);
}
.chapter li {
    position: relative;
    padding-left: 25px;
}
.chapter li:before {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    top: 10px;
    background: #737373;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
#home {
    z-index: 0;
}
#concept, #opinion, #debats, #beta, .fullVideo, 
#supports, #contact {
    position: relative;
    z-index: 100;
    margin-top: -1px;
}
#concept, #debats, #contact {
    background: #fff;
}
#opinion, #data, #supports {
    background: #fafafa;
}
/* ---------------------------------------------- /*
 *  Home Section
/* ---------------------------------------------- */
#home {
    position: relative;
    width: 100%;
    height: 700px;
    min-height: 420px !important;
    margin-bottom: 60px;
    background-image: url(img/background-green.jpg);
    background-size: 100% 100%;
}
#home .innerWrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(img/background-green.jpg);
    background-size: 100% 100%;
}
#home.fixed .innerWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 1024px;
    height: 100%;
}
#home .inner {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
}
#home .description {
    position: absolute;
    left: 70px;
    top: 20%;
    color: #fff;
    font-size: 0;
    -moz-transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    transform: translateX(-600px);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#home.show .description {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#home .description h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 70px;
}
#home .description p {
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
}
#home .description p strong {
    font-weight: 400;
}
#home .description a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#home .description a:hover {
    background: #fff;
    color: #56efc6;
}
#home .description a.disabled {
    color: #eee;
    border: 2px solid #eee;
    cursor: default;
}
#home .description a.disabled:hover {
    background: transparent;
    color: #fff;
}
#home .description a:last-child {
    margin-left: 30px;
}
#home .phone-1 {
    display: block;
    position: absolute;
    width: 300px;
    height: auto;
    right: 90px;
    bottom: -60px;
}
/* ---------------------------------------------- /*
 *  Concept Section
/* ---------------------------------------------- */
#concept {
    position: relative;
    padding: 140px 0;
    text-align: center;
}
#concept h3 {
    margin-bottom: 30px;
}
#concept p {
    max-width: 1054px;
    margin: 0 auto 50px auto;
    padding: 0 15px;
    text-align: center;
}
#concept p:last-child {
    text-align: center;
}
#concept p span {
    display: inline-block;
    width: 110px;
    margin: 0 30px;
    opacity: 0;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#concept p span:last-child {
    -moz-transition: all .5s ease-out .3s;
    -webkit-transition: all .5s ease-out .3s;
    -ms-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
#concept.show p span {
    opacity: 1;
}
#concept p span img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* ---------------------------------------------- /*
 *  Opinion Section
/* ---------------------------------------------- */
#opinion {
    position: relative;
    height: 600px;
}
#opinion .description {
    position: absolute;
    top: 130px;
    left: 48%;
}
#opinion h3 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#opinion h3:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 6px;
    left: 0;
    bottom: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
}
#opinion li {
    opacity: 0;
}
#opinion ul li:first-child {
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#opinion ul li:nth-child(2) {
    -moz-transition: all .3s ease-out .9s;
    -webkit-transition: all .3s ease-out .9s;
    -ms-transition: all .3s ease-out .9s;
    transition: all .3s ease-out .9s;
}
#opinion ul li:nth-child(3) {
    -moz-transition: all .3s ease-out 1.6s;
    -webkit-transition: all .3s ease-out 1.6s;
    -ms-transition: all .3s ease-out 1.6s;
    transition: all .3s ease-out 1.6s;
}
#opinion.show li {
    opacity: 1;
}
#opinion .phone-2 {
    display: block;
    position: absolute;
    width: 370px;
    height: auto;
    top: -160px;
    left: 5%;
    -moz-transition: all .8s ease-out .8s;
    -webkit-transition: all .8s ease-out .8s;
    -ms-transition: all .8s ease-out .8s;
    transition: all .8s ease-out .8s;
    -moz-transform: translate(-500px, -500px);
    -webkit-transform: translate(-500px, -500px);
    -ms-transform: translate(-500px, -500px);
    transform: translate(-500px, -500px);
}
#opinion .phone-3 {
    display: block;
    position: absolute;
    width: 370px;
    height: auto;
    bottom: -90px;
    left: 10px;
    -moz-transition: all .8s ease-out;
    -webkit-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    transition: all .8s ease-out;
    -moz-transform: translate(500px, 500px);
    -webkit-transform: translate(500px, 500px);
    -ms-transform: translate(500px, 500px);
    transform: translate(500px, 500px);
}
#opinion.show .phone-2, #opinion.show .phone-3 {
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
/* ---------------------------------------------- /*
 *  Débats Section
/* ---------------------------------------------- */
#debats {
    position: relative;
    height: 600px;
}
#debats .description {
    position: absolute;
    top: 130px;
    right: 48%;
    text-align: right;
}
#debats h3 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#debats h3:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 6px;
    right: 0;
    bottom: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
}
#debats li {
    opacity: 0;
    padding: 0 25px 0 0;
}
#debats li:before {
    left: auto;
    right: 0;
}
#debats ul li:first-child {
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#debats ul li:nth-child(2) {
    -moz-transition: all .3s ease-out 1s;
    -webkit-transition: all .3s ease-out 1s;
    -ms-transition: all .3s ease-out 1s;
    transition: all .3s ease-out 1s;
}
#debats ul li:nth-child(3) {
    -moz-transition: all .3s ease-out 1.7s;
    -webkit-transition: all .3s ease-out 1.7s;
    -ms-transition: all .3s ease-out 1.7s;
    transition: all .3s ease-out 1.7s;
}
#debats.show li {
    opacity: 1;
}
#debats img {
    display: none;
}
#debats .phone-4 {
    display: block;
    position: absolute;
    width: 280px;
    height: auto;
    bottom: -60px;
    right: 12%;
    z-index: 10;
    -moz-transform: translate(0,100%);
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    -moz-transition: transform 1s ease-out, opacity .2s ease-out 1.5s;
    -webkit-transition: transform 1s ease-out, opacity .2s ease-out 1.5s;
    -ms-transition: transform 1s ease-out, opacity .2s ease-out 1.5s;
    transition: transform 1s ease-out, opacity .2s ease-out 1.5s;
}
#debats.show .phone-4 {
    opacity: 0;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
#debats .phone-4-2 {
    display: block;
    position: absolute;
    width: 250px;
    height: auto;
    bottom: -50px;
    right: 10px;
    z-index: 10;
    opacity: 0;
    -moz-transform: translate(-70%, 0);
    -webkit-transform: translate(-70%, 0);
    -ms-transform: translate(-70%, 0);
    transform: translate(-70%, 0);
    -moz-transition: opacity .1s ease-out 1.5s, transform .5s ease-out 1.5s;
    -webkit-transition: opacity .1s ease-out 1.5s, transform .5s ease-out 1.5s;
    -ms-transition: opacity .1s ease-out 1.5s, transform .5s ease-out 1.5s;
    transition: opacity .1s ease-out 1.5s, transform .5s ease-out 1.5s;
}
#debats.show .phone-4-2 {
    opacity: 1;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
#debats .phone-5 {
    display: block;
    position: absolute;
    width: 280px;
    height: auto;
    bottom: -60px;
    right: 12%;
    z-index: 20;
    -moz-transform: translate(0,100%);
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    -moz-transition: all 1s ease-out 1s;
    -webkit-transition: all 1s ease-out 1s;
    -ms-transition: all 1s ease-out 1s;
    transition: all 1s ease-out 1s;
}
#debats.show .phone-5 {
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

/* ---------------------------------------------- /*
 *  Datas Section
/* ---------------------------------------------- */
#data {
    position: relative;
    height: 600px;
}
#data .description {
    position: absolute;
    width: 52%;
    top: 130px;
    left: 48%;
    padding-right: 30px;
}
#data h3 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#data h3:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 6px;
    left: 0;
    bottom: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
}
#data .phone-wrap {
    position: absolute;
    width: 60%;
    height: 100%;
    left: -10%;
    bottom: -10px;
}
#data .phone-wrap img {
    display: block;
    position: absolute;
}
#data .phone-wrap .phone-6 {
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
}
#data .phone-wrap .layer-1 {
    width: 40%;
    height: auto;
    left: 40%;
    top: 29%;
    z-index: 100;
    -moz-transition: all .2s ease-out 1.3s;
    -webkit-transition: all .2s ease-out 1.3s;
    -ms-transition: all .2s ease-out 1.3s;
    transition: all .2s ease-out 1.3s;
}
#data .phone-wrap .layer-2 {
    width: 50%;
    height: auto;
    left: 34%;
    top: 36%;
    z-index: 90;
    -moz-transition: all .2s ease-out 1s;
    -webkit-transition: all .2s ease-out 1s;
    -ms-transition: all .2s ease-out 1s;
    transition: all .2s ease-out 1s;
}
#data .phone-wrap .layer-3 {
    width: 55%;
    height: auto;
    left: 32%;
    top: 43%;
    z-index: 80;
    -moz-transition: all .2s ease-out .5s;
    -webkit-transition: all .2s ease-out .5s;
    -ms-transition: all .2s ease-out .5s;
    transition: all .2s ease-out .5s;
}
#data .phone-wrap .layer-4 {
    width: 60%;
    height: auto;
    left: 26%;
    top: 49%;
    z-index: 70;
    -moz-transition: all .2s ease-out .1s;
    -webkit-transition: all .2s ease-out .1s;
    -ms-transition: all .2s ease-out .1s;
    transition: all .2s ease-out .1s;
}
#data .layer-1, 
#data .layer-2, 
#data .layer-3, 
#data .layer-4 {
    opacity: 0;
}
#data.show .layer-1, 
#data.show .layer-2, 
#data.show .layer-3, 
#data.show .layer-4 {
    opacity: 1;
}

/* ---------------------------------------------- /*
 *  video Section
/* ---------------------------------------------- */
.fullVideo .vjs-poster {
    background-size: 100% 100%;
}
.vjs-default-skin .vjs-big-play-button, .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url(img/play_button.png);
    background-size: 100px 100px;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.vjs-big-play-button:after {
    content: "Voir la vidéo";
    display: block;
    position: absolute;
    width: 200%;
    left: -50%;
    bottom: -40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.vjs-default-skin .vjs-big-play-button:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.vjs-default-skin .vjs-big-play-button:before {
    display: none;
}
/*.vjs-control-bar {
    display: none !important;
}*/

/* ---------------------------------------------- /*
 *  Supports Section
/* ---------------------------------------------- */
#supports {
    padding-bottom: 80px;
}
#supports h3 {
    padding: 60px 0 40px 0;
    text-align: center;
}
#owl-demo .item {
    position: relative;
    min-height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}
#owl-demo .owl-item {
    opacity: 0;
}
#owl-demo .owl-item:first-child {
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#owl-demo .owl-item:nth-child(2) {
    -moz-transition: all .5s ease-out .5s;
    -webkit-transition: all .5s ease-out .5s;
    -ms-transition: all .5s ease-out .5s;
    transition: all .5s ease-out .5s;
}
#owl-demo .owl-item:nth-child(3) {
    -moz-transition: all .5s ease-out 1s;
    -webkit-transition: all .5s ease-out 1s;
    -ms-transition: all .5s ease-out 1s;
    transition: all .5s ease-out 1s;
}
#owl-demo .owl-item:nth-child(4) {
    -moz-transition: all .5s ease-out 1.5s;
    -webkit-transition: all .5s ease-out 1.5s;
    -ms-transition: all .5s ease-out 1.5s;
    transition: all .5s ease-out 1.5s;
}
#owl-demo .owl-item:nth-child(5) {
    -moz-transition: all .5s ease-out 2s;
    -webkit-transition: all .5s ease-out 2s;
    -ms-transition: all .5s ease-out 2s;
    transition: all .5s ease-out 2s;
}
#owl-demo .owl-item:nth-child(6) {
    -moz-transition: all .5s ease-out 2.5s;
    -webkit-transition: all .5s ease-out 2.5s;
    -ms-transition: all .5s ease-out 2.5s;
    transition: all .5s ease-out 2.5s;
}
#supports.show #owl-demo .owl-item {
    opacity: 1;
}
.item .img {
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
    border-radius: 5px 5px 0 0;
}
.item h4 {
    margin-bottom: 25px;
    text-align: left;
    font-weight: 600;
    color: black;
}
.item p {
    margin-bottom: 40px;
    text-align: left;
}
.item a {
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 10px;
    bottom: 10px;
}
.small-line-green {
    background: #56EFC6;
    height: 4px;
    width: 20px;
    margin: 18px 0;
}
.desc {
    padding: 10px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #55EFCB;
}
.owl-controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
}
.owl-controls .owl-pagination {
    width: 100%;
    height: 12px;
    text-align: center;
}
.owl-controls .owl-pagination .owl-page {
    display: inline-block;
    margin: 0 9px;
}
.owl-controls .owl-pagination .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    background: #d2d2d2;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
/* ---------------------------------------------- /*
 *  Download Section
/* ---------------------------------------------- */
#download {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(img/background-green.jpg);
    background-size: 100% 100%;
    z-index: 30;
}
#download.fixed .innerWrap {
    position: fixed;
    left: 0;
    background-image: url(img/background-green.jpg);
    background-size: 100% 100%;
}
#download h3 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
    text-align: center;
    color: #fff;
}
#download p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30%;
    text-align: center;
    font-size: 0;
}
#download a {
    display: inline-block;
    margin: 0 25px;
    opacity: 0;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
#download a:first-child {
    -moz-transform: translate(-100px,0);
    -webkit-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    transform: translate(-100px,0);
}
#download a:last-child {
    -moz-transform: translate(100px,0);
    -webkit-transform: translate(100px,0);
    -ms-transform: translate(100px,0);
    transform: translate(100px,0);
}
#download.show a {
    opacity: 1;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
#download a img {
    display: block;
    height: 5%;
    width: auto;
}


/* ---------------------------------------------- /*
 *  Contact Section
/* ---------------------------------------------- */

#contact {
    padding: 80px 0;
}
#contact h3 {
    margin-bottom: 80px;
    text-align: center;
}
#contact label {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
#contact .form-control {
    border: 2px solid #55EFCB;
}
#contact .form-control.error {
    border: 2px solid #000;
}
#contact .btn-send {
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-family: inherit;
    padding: 15px 60px;
    margin-top: 20px;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: -moz-linear-gradient(to right, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to right, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to right, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to right, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
}
#contact .btn-send:hover {
    background: -moz-linear-gradient(to left, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to left, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to left, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to left, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
}
#contact textarea {
    width: 100%;
    height: 120px;
    resize: none;
}
#contact h5 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}
#contact p {
    margin-bottom: 10px;
    text-align: center;
}
#contact p sup {
    color: #bc1212;
    font-weight: 200;
}
#contact small {
    display: block;
    text-align: center;
    font-size: 16px;
}
#contact .short {
    width: 200px;
    margin: 0 auto 20px auto;
    text-align: center;
}
#contact .short .form-control {
    text-align: center;
}
#contact .resend span {
    display: block;
    margin-bottom: 20px;
}
#contact .resend button {
    text-transform: uppercase;
}
#contact p.error {
    color: #48caab;
    margin: -60px 0 80px 0;
}

/* ---------------------------------------------- /*
 *  Footer Section
/* ---------------------------------------------- */

footer {
    background: url('img/background-green.jpg');
    padding: 70px 0;
}
footer .container-fluid {
    max-width: 1024px;
    margin: 0 auto;
}
footer a {
    display: block;
    margin-bottom: 40px;
    text-align: center;
}
footer a img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

/* ---------------------------------------------- /*
 * FOR RESPONSIVNESS
/* ---------------------------------------------- */
/* Large devices (large desktops, 1200px and up) */

/* Medium devices (desktops, 990px and up) */

@media only screen and (max-width: 990px) {

    header h1 {
        width: 96px;
        height: 50px;
        margin-top: -25px;
    }
    header.fixed h1 {
        width: 96px;
        height: 50px;
        margin-top: -25px;
    }
    header .main-menu li {
        margin-left: 15px;
    }
    header .main-menu li > a {
        padding: 0 10px;
        font-size: 18px;
    }
    header .main-menu li.share > a:after {
        content: "";
        display: inline-block;
        position: relative;
        width: 20px;
        height: 18px;
        top: 3px;
        background-image: url(img/share.png);
        -moz-transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #home .description {
        left: 50px;
    }
    #home .description h2 {
        font-size: 36px;
        line-height: 60px;
    }
    #home .description p {
        font-size: 14px;
        line-height: 26px;
    }
    #home .phone-1 {
        width: 260px;
        right: 50px;
    }
}

/* Medium devices (desktops, 990px and up) */

@media only screen and (max-width: 880px) {
    .chapter h3 {
        font-size: 40px;
    }
    #concept p {
        text-align: center;
        padding: 0 35px;
    }
    #opinion .description {
        left: 54%; 
    }
    #opinion h3 {
        padding: 0 20px 20px 0;
    }
    #opinion .phone-2 {
        left: 3%;
        width: 340px;
    }
    #opinion .phone-3 {
        width: 340px;
    }
    #debats .description {
        right: 52%;
    }
    #debats .phone-5, #debats .phone-4 {
        width: 240px;
    }
    #debats .phone-4-2 {
        width: 210px;
    }
    #data .phone-wrap .layer-4 {
        left: 25%;
        top: 57%;
    }
    #data .phone-wrap .layer-3 {
        left: 32%;
        top: 52%;
    }
    #data .phone-wrap .layer-2 {
        left: 34%;
        top: 47%;
    }
    #data .phone-wrap .layer-1 {
        left: 40%;
        top: 42%;
    }
}



@media only screen and (max-width: 800px) {
    header .main-menu li {
        margin-left: 10px;
    }
}
/* Small devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    header {
        height: 65px;
    }
    .index header.green {
          background: url(img/header-bg.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 0 0;
    }
    header.fixed {
        height: 65px;
        background: #fff !important;
        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3) !important;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3) !important;
        -ms-box-shadow: 0 0 3px rgba(0,0,0,0.3) !important;
        box-shadow: 0 0 3px rgba(0,0,0,0.3) !important;
    }
    header .inner {
        width: 100%;
        height: 65px;
        padding: 0;
    }
    header h1 {
        position: static;
        width: 60px;
        height: 45px;
        margin: 0 auto;
        padding-top: 14px;
    }
    header.fixed h1 {
        width: 60px;
        height: 45px;
        margin: 0 auto;
    }
    header .menu-button {
        display: block;
    }
    header .main-menu {
        display: block;
        position: fixed;
        width: 240px;
        top: 0;
        left: 0;
        padding-top: 100px;
        text-align: center;
        background: #4ed7ab;
        visibility: hidden;
        -moz-transform: translate(-240px,0);
        -webkit-transform: translate(-240px,0);
        -ms-transform: translate(-240px,0);
        transform: translate(-240px,0);
    }
    header .main-menu .logo {
        display: block;
        position: absolute;
        width: 100px;
        height: 52px;
        left: 50%;
        top: 23px;
        margin-left: -50px;
    }
    header .main-menu li {
        display: block;
        margin: 0;
        padding: 0;
        border-top: 1px solid #fff;
    }
    header.fixed .main-menu li {
        padding: 0;
    }
    header .main-menu li > a {
        display: block;
        padding: 0;
        font-size: 14px;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    }
    header.fixed .main-menu li > a {
        color: #fff;
    }
    header .main-menu li > a:hover {
        border: none;
        background: #fff;
        color: #4ed7ab;
    }
    header.fixed .main-menu li > a:hover {
        border: none;
    }
    header .main-menu li.share > a {
        width: 100%;
    }
    header .main-menu li.share > a:hover {
        background: #fff;
    }
    header .main-menu li.share > a:after {
        position: static;
        width: 25px;
        height: 22px;
    }
    header.fixed .main-menu li.share > a:after {
        background-image: url(img/share.png);
    }
    header .main-menu li.share .bdsharebuttonbox {
        display: none;
    }

    /*footer*/
    footer .container-fluid {
    	padding: 0 20px;
    }
    footer p {
    	font-size: 10px;
    }


    /*content*/
    .content {
        padding: 105px 12px 60px 12px;
    }
    .content-title h2 {
	    font-size: 29px;
	}
	.content-title time {
		font-size: 20px;
	}

    /*index*/
    .index .content {
        padding: 0;
    }
    #home .description {
        left: 20px;
    }
    #home .description h2 {
        font-size: 35px;
        line-height: 50px;
    }
    #home .description p {
        font-size: 14px;
        line-height: 20px;
    }
    #home .phone-1 {
        width: 230px;
        right: 50px;
    }
    #download {
        height: 300px;
    }
    #download a img {
        height: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #home .phone-1 {
        width: 200px;
        right: 50px;
    }
    #concept {
        padding: 40px 0;
    }
    .chapter h3 {
        font-size: 28px;
    }
    #concept p span {
        width: 60px;
    }
    #opinion {
        height: auto;
    }
    #opinion .description {
        position: relative;
        left: 0;
        top: 0;
        z-index: 100;
    }
    #opinion .description h3 {
        margin-bottom: 250px;
        padding: 40px 15px 20px 15px;
        background: #fafafa;
        box-sizing: content-box;
    }
    #opinion .description h3:after {
        display: none;
    }
    #opinion .description ul {
        position: relative;
        padding: 40px 15px 40px 15px;
        background: #fafafa;
    }
    #opinion ul:after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 6px;
        left: 15px;
        top: 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    }
    #opinion .phone-2 {
        top: 5%;
        left: 30%;
        width: 200px;
    }
    #opinion .phone-3 {
        width: 200px;
        bottom: 25%;
        left: 10%;
    }
    #debats{
        height: auto;
    }
    #debats .description {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;
        text-align: left;
    }
    #debats .description h3 {
        margin-bottom: 300px;
        padding: 40px 15px 20px 15px;
        background: #fff;
        box-sizing: content-box;
    }
    #debats .description h3:after {
        display: none;
    }
    #debats .description ul {
        position: relative;
        padding: 40px 15px 40px 15px;
        background: #fafafa;
    }
    #debats .description ul li {
        padding: 0 0 0 25px;
    }
    #debats .description ul li:before {
        left: 0;
        right: auto;
    }
    #debats .description ul:after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 6px;
        left: 15px;
        top: 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    }
    #debats .phone-4, #debats .phone-5 {
        width: 150px;
        bottom: 30%;
        left: 50%;
        margin-left: -105px;
    }
    #debats .phone-4-2 {
        width: 120px;
        bottom: 31%;
        left: 50%;
        margin-left: 10px;
    }
    #data{
        height: auto;
    }
    #data .description {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        padding: 0;
        z-index: 100;
        text-align: left;
    }
    #data .description h3 {
        margin-bottom: 300px;
        padding: 40px 15px 20px 15px;
        background: #fafafa;
        box-sizing: content-box;
    }
    #data .description h3:after {
        display: none;
    }
    #data .description ul {
        position: relative;
        padding: 40px 15px 40px 15px;
        background: #fafafa;
    }
    #data .description ul:after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 6px;
        left: 15px;
        top: 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background: -moz-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -webkit-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: -ms-linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
        background: linear-gradient(to right, rgba(85,239,203,1) 0%, rgba(85,239,203,0.9) 26%, rgba(85,239,203,0.87) 33%, rgba(95,237,179,0.75) 63%, rgba(95,237,178,0.75) 64%, rgba(100,238,174,0.75) 85%);
    }
    #data .phone-wrap {
        position: absolute;
        width: 80%;
        height: 70%;
        left: 10%;
        bottom: 30%;
    }
    #data .phone-wrap .layer-4 {
        left: 24%;
        top: auto;
        bottom: 12%
    }
    #data .phone-wrap .layer-3 {
        left: 27%;
        top: auto;
        bottom: 21%;
    }
    #data .phone-wrap .layer-2 {
        left: 26%;
        top: auto;
        bottom: 30%
    }
    #data .phone-wrap .layer-1 {
        left: 33%;
        top: auto;
        bottom: 42%;
    }
    #contact h3 {
        margin-bottom: 40px;
    }
    #contact p.error {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    #contact label {
        width: 70%;
        margin: 0 auto 15px auto; 
    }
    #contact .short {
        width: 70%;
        margin: 0 auto 15px auto;
    }
}

@media only screen and (max-width: 640px) {
    #home {
        margin-bottom: 30px;
    }
    #home .phone-1 {
        width: 200px;
        right: 20px;
        bottom: -30px;
    }
    #home .description {
        top: 100px;
    }
    #home .description p {
        margin-bottom: 60px;
    }
    #home .description a {
        display: block;
        width: 200px;
        text-align: center;
        margin: 0 0 30px 10% !important;
    }
    footer a img {
        width: 45px;
    }
}

@media only screen and (max-width: 500px) {
    #home .description h2 {
        font-size: 35px;
        line-height: 65px;
    }
    #home .phone-1 {
        width: 180px;
        right: 5%;
    }
    #home .description a {
        width: 150px;
        padding: 15px 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    #home .description h2 {
        font-size: 30px;
        line-height: 45px;
    }
    #home .phone-1 {
        width: 180px;
        right: 5%;
    }
    #home .description a {
        width: 150px;
        padding: 15px 10px;
        margin: 0 0 30px 20px !important;
        font-size: 12px;
    }
    #data .phone-wrap .layer-4 {
        bottom: 12%
    }
    #data .phone-wrap .layer-3 {
        bottom: 18%;
    }
    #data .phone-wrap .layer-2 {
        bottom: 25%
    }
    #data .phone-wrap .layer-1 {
        bottom: 35%;
    }
    .vjs-default-skin .vjs-big-play-button, .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
        background-size: 50px 50px;
    }
    .vjs-big-play-button:after {
        bottom: -30px;
        font-size: 14px;
    }
    #download p {
        bottom: 20px;
    }
    #download a {
        display: block;
        margin: 0 auto 30px auto;
        text-align: center;
    }
    #download a img {
        display: inline-block;
    }
}

@media only screen and (max-width: 440px) {
    #home {
        height: 500px;
    }
    #home .description h2 {
        font-size: 30px;
        line-height: 50px;
    }
    #home .description p {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 14px;
    }
    #home .description a {
        width: 130px;
        font-size: 10px;
    }
    #home .phone-1 {
        width: 120px;
        right: 5%;
        bottom: -30px;
    }
}

@media only screen and (max-width: 400px) {
    #data .description h3 {
        margin-bottom: 230px;
    }
    #data .phone-wrap {
        bottom: 35%;
    }
    #data .phone-wrap .layer-4 {
        bottom: 8%
    }
    #data .phone-wrap .layer-3 {
        bottom: 13%;
    }
    #data .phone-wrap .layer-2 {
        bottom: 18%
    }
    #data .phone-wrap .layer-1 {
        bottom: 25%;
    }
}

@media only screen and (max-width: 375px) {
    #home {
        height: 450px;
    }
    #home .description h2 {
        font-size: 24px;
        line-height: 38px;
    }
    #home .description p {
        margin-bottom: 50px;
        font-size: 10px;
        line-height: 14px;
    }
    #home .description a {
        width: 120px;
        margin: 0 0 15px 10% !important;
        padding: 10px 12px;
        font-size: 10px;
    }
    #home .phone-1 {
        width: 100px;
        right: 5%;
        bottom: -20px;
    }
    #data .description h3 {
        margin-bottom: 200px;
    }
    #data .phone-wrap {
        bottom: 40%;
    }
}


@media (min-width: 769px) {
    header .share-box, 
    .header-mask {
        display: none !important;
    }
    header .main-menu {
        height: 103px !important;
    }
    header.fixed .main-menu {
        height: 83px !important;
    }
    header .main-menu li {
        height: 103px !important;
        line-height: 0 !important;
    }
    header.fixed .main-menu li {
        height: 83px !important;
    }
    header .main-menu li > a {
        height: 45px !important;
        line-height: 43px !important;
    }
}

@media (max-height: 380px) {
	header .main-menu ul {
    	overflow-y: scroll;
    	-webkit-overflow-scrolling: touch;
    }
}
