@import url(font/opensans.css);

/* ---------------------------------------------- /*
 *  GENERAL STYLES
/* ---------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, iframe, fieldset, legend, label, button, input, textarea, th, td, figure {
    margin: 0;
    padding: 0
}
h1, h2, h3, h4, h5, strong, b, i {
    font-weight: normal;
    font-style: normal;
}
a, a:hover, a:active {
    text-decoration: none !important;
}
ul, ol {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
input, button, select, textarea {
    outline: none
}
textarea {
    resize: none
}
button {
    background: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
body {
    font: normal 12px/1.5 'Open Sans', '微软雅黑', sans-serif;
}

/* ---------------------------------------------- /*
 *  Header
/* ---------------------------------------------- */
header {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed {
    background: #fff;
    height: 83px;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
header .inner {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
}
header h1 {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 121px;
    height: 63px;
    margin-top: -31px;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed h1 {
    width: 96px;
    height: 50px;
    margin-top: -25px;
}
header h1 a, header .inner h1 a img {
    display: block;
    width: 100%;
    height: 100%;
}
header .menu-button {
    display: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0;
    top: 0;
    z-index: 100;
}
header .menu-button i {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 20px;
    margin-top: -1px;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .menu-button i:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: -8px;
    left: 0;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .menu-button i:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: -8px;
    left: 0;
    background: #fff;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .menu-button i, 
header.fixed .menu-button i:before, 
header.fixed .menu-button i:after {
    background: #62e2b0;
}
header .main-menu {
    font-size: 0;
    text-align: right;
    z-index: 500;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
header .main-menu.show {
    visibility: visible;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
header .main-menu .logo {
    display: none;
}
header .main-menu li {
    display: inline-block;
    margin-left: 20px;
    padding: 30px 0;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li {
    padding: 20px 0;
}
header .main-menu li a {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    font-size: 22px;
    color: #fff;
    line-height: 43px;
    border: 1px solid transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li a {
    color: #62e2b0;
}
header .main-menu li a:hover {
    border: 1px solid #fff;
}
header.fixed .main-menu li a:hover {
    border: 1px solid #62e2b0;
}
header .main-menu li .share:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 25px;
    height: 22px;
    top: 3px;
    background-image: url(img/share.png);
    background-size: 25px 22px;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header.fixed .main-menu li .share:after {
    background-image: url(img/share-green.png);
}
.header-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.7);
    z-index: 150;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.header-mask.show {
    opacity: 1;
    visibility: visible;
}
header .share-box {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 0;
    background: rgba(98,226,176,0.9);
    z-index: 600;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
header .share-box.show {
    visibility: visible;
    opacity: 1;
}
header .share-box .close {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
    z-index: 200;
    opacity: 1;
}
header .share-box .close:before {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 1px;
    left: -10px;
    top: 22px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .share-box .close:after {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 1px;
    left: -10px;
    bottom: 22px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
header .share-box .inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 190px;
    left: 0;
    top: 50%;
    margin-top: -95px;
    text-align: center;
}
header .share-box h4 {
    margin-bottom: 65px;
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: 800;
}
header .share-box .bdsharebuttonbox {
    display: block;
    position: static;
    float: none;
    width: 100%;
    font-size: 0;
}
header .share-box .bdsharebuttonbox a {
    display: inline-block;
    position: relative;
    float: none;
    width: 50%;
    height: 50px;
    margin: 0 0 50px 0;
    padding: 0;
    background: none;
}
header .share-box .bdsharebuttonbox a:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background-size: 50px 50px;
}
header .share-box .bdsharebuttonbox a.bds_fbook:after {
    background-image: url(img/facebook.png);
}
header .share-box .bdsharebuttonbox a.bds_twi:after {
    background-image: url(img/twitter.png);
}
header .share-box .bdsharebuttonbox a.bds_linkedin:after {
    margin-bottom: 0;
    background-image: url(img/linkedin.png);
}
header .share-box .bdsharebuttonbox a.bds_tsina:after {
    margin-bottom: 0;
    background-image: url(img/weibo.png);
}
/* ---------------------------------------------- /*
 *  Concept Section
/* ---------------------------------------------- */

#concept {
    padding: 160px 0;
}
#concept h1 {
    margin-bottom: 40px;
    font-weight: bold;
    color: black;
}
#concept p {
    font-size: 16px;
    color: rgb(112, 112, 112);
    margin-bottom: 70px;
}
#concept img {
    margin: auto;
}
/* ---------------------------------------------- /*
 *  Opinion Section
/* ---------------------------------------------- */

#opinion {
    background: #FAFAFA;
    min-height: 100px;
}
.bottom {
    margin-top: -70px;
}
.top {
    position: relative;
    left: 50px;
}
#opinion h1 {
    margin-top: 190px;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.line-green {
    background: #56EFC6;
    height: 4px;
    width: 40px;
    margin: 18px 0;
}
.list-style {
    padding: 0 0 0 12px;
}
.list-style li {
    list-style-image: url('../img/square.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
}
.list-style p {
    color: #707070;
    font-size: 15px;
}
/* ---------------------------------------------- /*
 *  Débats Section
/* ---------------------------------------------- */

#debats {
    padding-top: 100px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    position: relative;
    min-height: 620px;
}
#debats h1 {
    margin-top: 150px;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
#debats p {
    color: #707070;
    font-size: 15px;
}
#debats .line-green {
    position: relative;
    float: right;
}
.clear {
    clear: both;
}
.list-right {
    list-style: none;
}
.no-pad-right {
    padding-right: 0;
}
.phones {
    position: relative;
}
.iphone6 {
    position: absolute;
    bottom: 0;
    right: 150px;
}
.iphone6-plus {
    z-index: 100;
    position: absolute;
    right: 290px;
    bottom: 0;
}
/* ---------------------------------------------- /*
 *  Datas Section
/* ---------------------------------------------- */

#data {
    min-height: 800px;
    background: #FAFAFA;
    position: relative;
}
#data h1 {
    margin-top: 120px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
#data p {
    color: #707070;
    font-size: 15px;
}
.phone8 {
    position: absolute;
    bottom: 0;
    left: 100px;
}
.p1 {
    position: absolute;
    bottom: 350px;
    left: 390px;
    z-index: 20;
}
.p2 {
    position: absolute;
    bottom: 280px;
    left: 405px;
    z-index: 10;
}
.p3 {
    position: absolute;
    bottom: 200px;
    left: 390px;
    z-index: 5;
}
.p4 {
    position: absolute;
    bottom: 130px;
    left: 390px;
    z-index: 1;
}
/* ---------------------------------------------- /*
 *  Supports Section
/* ---------------------------------------------- */

#Supports {
    padding: 40px 0 20px 0;
}
#Supports h1 {
    font-size: 45px;
    font-weight: bolder;
}
#owl-demo .item {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}
.item {
    border: 1px solid #E5E5E5;
}
.item .img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.item h4 {
    text-align: left;
    font-weight: bolder;
    color: black;
}
.item p {
    text-align: left;
}
.small-line-green {
    background: #56EFC6;
    height: 4px;
    width: 20px;
    margin: 18px 0;
}
.desc {
    padding: 10px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #55EFCB;
}
/* ---------------------------------------------- /*
 *  Download Section
/* ---------------------------------------------- */

#download {
    background: url('../img/background-green.jpg');
    padding: 100px 0 20px 0;
}
#download h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 150px;
}
#download img {
    margin: auto;
    margin-bottom: 20px;
}
/* ---------------------------------------------- /*
 *  Contact Section
/* ---------------------------------------------- */

#contact {
    padding: 80px 0;
}
#contact h1 {
    padding: 80px 0;
    font-size: 45px;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.form-control {
    border: 2px solid #55EFCB;
}
.btn-send {
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-family: inherit;
    padding: 15px 60px;
    margin-top: 20px;
    background: linear-gradient(to right, #55EFCB 0%, rgba(85, 239, 203, 0.9) 26%, rgba(85, 239, 203, 0.87) 33%, rgba(95, 237, 179, 0.75) 63%, rgba(95, 237, 178, 0.75) 64%, rgba(100, 238, 174, 0.75) 85%) repeat scroll 0% 0% transparent;
}

/*cms*/
.content {
    padding: 203px 12px 120px 12px;
    background: #fff;
}
.content-title {
    max-width: 1024px;
    margin: 0 auto 40px auto;
}
.content-title .pic {
    vertical-align: top;
}
.content-title .pic img {
    display: block;
    width: 93px;
    height: 93px;
}
.content-title h2 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 58px;
    font-weight: 800;
}
.content-title time {
    display: block;
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
}
.cmsPage {
    max-width: 1024px;
    margin: 0 auto;
}
.cmsPage .cmsMainBox, .cmsPage .cmsMainBoxCon {
    margin: 0;
    padding: 0;
}
.cmsMainBox p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
}
.cmsMainBox img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.cmsMainBox a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

/* ---------------------------------------------- /*
 *  Footer Section
/* ---------------------------------------------- */

footer {
    background: url('../img/background-green.jpg');
    padding: 70px 0;
}
footer .container-fluid {
    max-width: 1024px;
    margin: 0 auto;
}
footer a {
    display: block;
    margin-bottom: 40px;
    text-align: center;
}
footer a img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

/* ---------------------------------------------- /*
 * FOR RESPONSIVNESS
/* ---------------------------------------------- */
/* Large devices (large desktops, 1200px and up) */

@media only screen and (max-width: 1200px) {
    
}
/* Medium devices (desktops, 990px and up) */

@media only screen and (max-width: 990px) {

    header h1 {
        width: 96px;
        height: 50px;
        margin-top: -25px;
    }
    header.fixed h1 {
        width: 96px;
        height: 50px;
        margin-top: -25px;
    }
    header .main-menu li {
        margin-left: 15px;
    }
    header .main-menu li a {
        padding: 0 10px;
        font-size: 18px;
    }
    header .main-menu li .share:after {
        content: "";
        display: inline-block;
        position: relative;
        width: 20px;
        height: 18px;
        top: 3px;
        background-image: url(img/share.png);
        background-size: 20px 18px;
        -moz-transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

/* Medium devices (desktops, 990px and up) */

@media only screen and (max-width: 800px) {
    header .main-menu li {
        margin-left: 10px;
    }
}
/* Small devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    header {
        height: 65px;
    }
    header.fixed {
        height: 65px;
    }
    header .inner {
        width: 100%;
        height: 65px;
        padding: 0;
    }
    header h1 {
        position: static;
        width: 60px;
        height: 45px;
        margin: 0 auto;
        padding-top: 14px;
    }
    header.fixed h1 {
        width: 60px;
        height: 45px;
        margin: 0 auto;
    }
    header .menu-button {
        display: block;
    }
    header .main-menu {
        display: block;
        position: fixed;
        width: 240px;
        top: 0;
        left: 0;
        padding-top: 100px;
        text-align: center;
        background: #4ed7ab;
        visibility: hidden;
        -moz-transform: translate(-240px,0);
        -webkit-transform: translate(-240px,0);
        -ms-transform: translate(-240px,0);
        transform: translate(-240px,0);
    }
    header .main-menu .logo {
        display: block;
        position: absolute;
        width: 60px;
        height: 34px;
        left: 50%;
        top: 33px;
        margin-left: -30px;
    }
    header .main-menu li {
        display: block;
        margin: 0;
        padding: 0;
        border-top: 1px solid #fff;
    }
    header.fixed .main-menu li {
        padding: 0;
    }
    header .main-menu li a {
        display: block;
        padding: 0;
        font-size: 22px;
        border: none;
        -moz-border-radius: none;
        -webkit-border-radius: none;
        -ms-border-radius: none;
        border-radius: none;
    }
    header.fixed .main-menu li a {
        color: #fff;
    }
    header .main-menu li a:hover {
        border: none;
    }
    header.fixed .main-menu li a:hover {
        border: none;
    }
    header.fixed .main-menu li .share:after {
        background-image: url(img/share.png);
    }


    /*content*/
    .content {
        padding: 105px 12px 120px 12px;
    }
}
/* Small devices (Mobile, 480px and up) */

@media only screen and (max-width: 480px) {
    
}


@media (min-width: 768px) {
    header .share-box {
        display: none !important;
    }
}